.button-search:focus {
    outline: 0;
    box-shadow: none !important;
}

.button-search:hover i {
    color: #916841;
}

.searchs .form-control:focus {
    border-color: none;
    outline: 0;
    box-shadow: none;
}

.searchs img {
    height: 224.66px;
    width: 224.66px;
    object-fit: contain;
}